[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django-widget-tweaks = "*"
matplotlib = "*"
numpy = "*"
Django = "*"
ipython = "*"

[requires]
python_version = "3.8"
